/*main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    border: 1px solid #000000;
    color: #ffffff;
}*/

/*main {
    background: #000000;
}*/

.header {
    background: #03a9f4;
}


.content {
    background: #129a22;
}

.sidebar {
    border: 1px solid #000000;
    background: #673ab7;
}

.footer {
    border: 1px solid #000000;
    background: #616161;
}

.container_bild {
  display: flex;
  justify-content: center;
}

.text {
  border-color: rgb(50, 25, 16);
  border-width: thick;
  border-top: 1000px;
  opacity: 1;
}

.div_bg {
  opacity: 0.6;
  display: flex;
  align-self: center;
  margin-left: -10%;

}

header {
  border-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.nav_text {
  opacity: 100%;
  font: bolder;
  font-size: 200%;
  
}

.logo {
  display: flex;
  justify-content: left;
  opacity: 50%;
}

.yuppi {
  opacity: 100%;
  padding-right: 30rem;
  padding-left: 10px;
  margin-top: 11px;
  font-size: 2rem;

}

.navbar {
  padding-bottom: 10px
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}